@import 'variables'
@import '../../node_modules/bulma/sass/utilities/_all'
@import '../../node_modules/bulma/sass/components/card'

body 
  background-color: rgb(102, 204, 255)

.App
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  flex-direction: row
  height: 100vh
  width: 100vw