@import url(https://fonts.googleapis.com/css?family=Oswald)
@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i)

$google-oswald: 'Oswald', sans-serif
$google-loral: 'Lora', serif
$family-primary: $google-oswald // Use the new serif family

//Media Queries
$phone-width: 300px
$tablet-width: 768px
$desktop-width: 1024px

$phone-height: 550px
$tablet-height: 600px

@mixin phone
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px})
    @content

@mixin tablet
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})
    @content


@mixin desktop 
  @media (min-width: #{$desktop-width}) 
    @content
